set lines=65
set columns=100

set background=light

"try
"    let g:solarized_termcolors=256
"    colorscheme solarized
"catch /E185:/
"endtry

"let g:molokai_original=1
"colorscheme molokai

if has("gui_running")
    if has("mac")
        "set guifont=Monaco:h12
        set guifont=Menlo:h12
    elseif has("gui_gtk2")
        "set guifont=Inconsolata\ 12
    elseif has("gui_win32")
        "set guifont=Consolas:h11:cANSI
    endif
endif
