# Private Aliases

# export EDITOR='mate'						# overwrite default editor

# Path Aliases
# alias c='cd ~/code/'
# alias p='cd ~/Projects/'
# alias s='cd ~/Sites/'
# alias d='cd ~/Dropbox/'


################################### PRIVATE ##################################
